<!DOCTYPE HTML>
<html>
<head>
    <include file="Common@Base/head"/>
    <block name="style">

    </block>
</head>
<!--[if IE 8]> <body  class="navbar-fixed ie8"> <![endif]-->
<!--[if IE 9]> <body   class="navbar-fixed ie9"> <![endif]-->
<!--[if !IE]><!-->
<body class="navbar-fixed">
<!--<![endif]-->
<div class="shade" style="display:none"></div>
<!-- 头部 -->
<include file="Common@Base/header"/>
<!-- /头部 -->

<!-- 主体 -->
<include file="Common@Base/body"/>
<!-- /主体 -->

<!-- 底部 -->
<include file="Common@Base/foot"/>
<block name="js">
</block>
</body>
</html>
