<meta charset="utf-8" />
<title>{$meta_title|default=C('WEB_SITE_TITLE')}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit">
<!-- basic styles -->
<link href="__VENDOR__/ace/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="__VENDOR__/font-awesome-4.3.0/css/font-awesome.min.css" />
<!-- page specific plugin styles -->
<link rel="stylesheet" href="__VENDOR__/ace/css/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="__VENDOR__/ace/css/jquery.gritter.css" />
<!-- fonts -->
<!-- ace styles -->
<link rel="stylesheet" href="__VENDOR__/ace/css/ace.min.css" />
<link rel="stylesheet" href="__VENDOR__/ace/css/ace-rtl.min.css" />
<link rel="stylesheet" href="__VENDOR__/ace/css/ace-skins.min.css" />
<link rel="stylesheet" href="__STATIC__/css/comm.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="__VENDOR__/ace/css/ace-ie.min.css" />
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript" src="__VENDOR__/ace/js/jquery-2.0.3.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript" src="__VENDOR__/ace/js/jquery-1.10.2.min.js"></script>
<![endif]-->

