<extend name="Common@Base/base"/>
<block name="title">
    栏目授权
</block>
<block name="content">
    <div class="table-responsive">
        <form action="{:U('addToCategory')}"  class="form-horizontal">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="center">
                    <label>
                        <input type="checkbox" class="ace check-all">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>栏目名称</th>
                <th>栏目类型</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="nodeList">
                <volist name="nodeList" id="node">
                    <tr class="level" data-level="{$node['level']}">
                        <td class="center">
                            <label>
                                <if condition="in_array($node['id'],$authed_group)">
                                    <input type="checkbox" class="ace ids" value="{$node.id}" checked="true"  name="cid[]">
                                <else/>
                                    <input type="checkbox" class="ace ids" value="{$node.id}"  name="cid[]">
                                </if>
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>
                            <for start="0" end="$node.level">
                                <if condition="$i eq $node['level']-1">
                                    <if condition="$node['last']">
                                        <span >|__</span>
                                        <else/>
                                        <span>|--</span>
                                    </if>
                                    <else/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </if>
                            </for>
                            {$node.name}
                        </td>
                        <td>
                            <switch name="node.type">
                                <case value="1">栏目</case>
                                <case value="2">单页面</case>
                                <default/>
                                栏目
                            </switch>
                        </td>
                    </tr>
                </volist>
                <else/>
                <tr><td colspan="3"><h1 class="text-center">暂无数据!</h1></td></tr>
            </notempty>

            </tbody>
        </table>
            <input type="hidden" value="{$this_group}" name="group_id"/>
        </form>
        <div class="form-group">
            <button class="btn btn-primary btn-sm ajax-post"  type="submit"  target-form="form-horizontal">确 定</button>
            <button class="btn btn-sm" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
        $('.ids').change(function(){
            var tr = $(this).parents('.level');
            var currentLevel = getLevel(tr);
            var status = $(this).prop('checked');

            var ob = getNextLevel(tr);
            //下层检测
            while(true){
                if(ob.level == 0||ob.level===undefined){
                    break;
                }
                if(ob.level>currentLevel){
                    $($(ob.tr).find("input[type='checkbox']")).prop('checked',status);
                }else{
                    break;
                }
                ob = getNextLevel(ob.tr); //指针替换
            }



            if(currentLevel != 0){ //根节点不做上层检测
                ob = getPreLevel(tr);
                //上层检测
                while(true){
                    if(ob.level == 0||ob.level===undefined){
                        if(status && ob.level == 0){
                            $($(ob.tr).find("input[type='checkbox']")).prop('checked',true);
                        }
                        break;
                    }
                    if(ob.level<currentLevel){
                        if(status){
                            $($(ob.tr).find("input[type='checkbox']")).prop('checked',true);
                        }
                    }
                    ob = getPreLevel(ob.tr); //指针替换
                }
            }
        });

        /**
         * 获得下一行层次
         * @param current
         */
        function getNextLevel(tr){
            var nextTr = $(tr).next('tr');
            var level = getLevel(nextTr);
            return {'level':level,'tr':nextTr};
        }

        /**
         * 获得上一行的层次
         * @param current
         */
        function getPreLevel(tr){
            var preTr = $(tr).prev('tr');
            var level = getLevel(preTr);
            return {'level':level,'tr':preTr};
        }

        function getLevel(tr){
            return $(tr).data('level');
        }
    </script>
</block>
