<extend name="Common@Base/base" />
<block name="title">
    {$auth_group['id']?'编辑':'新增'}用户组
</block>
<block name="content">
    <form action="{:U('AuthManager/writeGroup')}" enctype="application/x-www-form-urlencoded" method="POST"
            class="form-horizontal normal-form">
        <div class="form-group">
            <label for="auth-title">用户组</label>
            <div >
                <input id="auth-title" type="text" name="title" class="text input-large" value="{$auth_group.title}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="auth-description" class="item-label">描述</label>
            <div >
                <label class="textarea input-large"><textarea id="auth-description" type="text" name="description">{$auth_group.description}</textarea></label>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" name="id" value="{$auth_group.id}" />
            <button type="submit" class="btn btn-sm btn-primary ajax-post" target-form="form-horizontal">确 定</button>
            <button class="btn btn-sm " onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>
