<extend name="Common@Base/base"/>
<block name="title">
    {$info['id']?'编辑':'新增'} [{:get_model_by_id($info['model_id'])}] 属性
</block>

<block name="content">
    <div class="tabbable">
        <form class="form-horizontal"  action="{:U('update')}" method="post">

        <ul class="nav nav-tabs padding-16 tab-size-bigger tab-space-1">
            <li class="active"><a data-toggle="tab"  href="#tab1">基 础</a></li>
            <li ><a data-toggle="tab"  href="#tab2">高 级</a></li>
        </ul>
        <div class="tab-content no-border padding-24">
            <!-- 基础 -->
				<div id="tab1" class="tab-pane in active">
					<div class="form-group">
						<label class="item-label">字段名<span class="check-tips">（请输入字段名 英文字母开头，长度不超过30）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="name" value="{$info.name}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">字段标题<span class="check-tips">（请输入字段标题，用于表单显示）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="title" value="{$info.title}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">字段类型<span class="check-tips">（用于表单中的展示方式）</span></label>
						<div class="controls">
							<select name="type" id="data-type">
								<option value="">----请选择----</option>
								<volist name=":get_attribute_type()" id="type">
								<option value="{$key}" rule="{$type[1]}">{$type[0]}</option>
								</volist>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">字段定义<span class="check-tips">（字段属性的sql表示）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="field" value="{$info.field}" id="data-field">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">参数<span class="check-tips">（布尔、枚举、多选字段类型的定义数据）</span></label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="extra">{$info.extra}</textarea>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">默认值<span class="check-tips">（字段的默认值）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="value" value="{$info.value}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">字段备注<span class="check-tips">(用于表单中的提示)</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="remark" value="{$info.remark}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">是否显示<span class="check-tips">（是否显示在表单中）</span></label>
						<div class="controls">
							<select name="is_show">
								<option value="1">始终显示</option>
								<option value="2">新增显示</option>
								<option value="3">编辑显示</option>
								<option value="0">不显示</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">是否必填<span class="check-tips">（用于自动验证）</span></label>
						<div class="controls">
							<select name="is_must">
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</div>
					</div>
                    </div>
                <div id="tab2" class="tab-pane tab2">
					<div class="form-group">
						<label class="item-label">验证方式<span class="check-tips"></span></label>
						<div class="controls">
							<select name="validate_type">
								<option value="regex">正则验证(regex)</option>
								<option value="function">函数验证(function)</option>
								<option value="unique">唯一验证(unique)</option>
								<option value="length">长度验证(length)</option>
                                <option value="in">验证在范围内(in)</option>
                                <option value="notin">验证不在范围内(notin)</option>
                                <option value="between">区间验证(between)</option>
                                <option value="notbetween">不在区间验证(notbetween)</option>
							</select>
						</div>
					</div>
                    <div class="form-group">
                        <label class="item-label">正则选项<span class="check-tips"></span></label>
                        <div class="controls">
                            <select id="regex" onchange="$('input[name=validate_rule]').val($(this).val());">
                                <option value="">--请选择--</option>
                                <volist name=":regex()" id="vo">
                                         <option value="{$vo.rule}">{$vo.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
					<div class="form-group">
						<label class="item-label">验证规则<span class="check-tips">（根据验证方式定义相关验证规则）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="validate_rule" value="{$info.validate_rule}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">出错提示<span class="check-tips"></span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="error_info" value="{$info.error_info}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">验证时间<span class="check-tips"></span></label>
						<div class="controls">
							<select name="validate_time">
                                <option value="3">始 终</option>
								<option value="1">新 增</option>
								<option value="2">编 辑</option>
								</select>
						</div>
					</div>
                    <div class="form-group">
                        <label class="item-label">验证条件<span class="check-tips">(如果字段不是必填项而且有验证条件的话请选择值不为空时验证)</span></label>
                        <div class="controls">
                            <select name="validate_condition">
                                <option value="0">存在字段就验证</option>
                                <option value="1">必须验证</option>
                                <option value="2">值不为空的时候验证</option>
                            </select>
                        </div>
                    </div>
					<div class="form-group">
						<label class="item-label">自动完成方式<span class="check-tips"></span></label>
						<div class="controls">
							<select name="auto_type">
								<option value="function">函数</option>
								<option value="field">字段</option>
								<option value="string">字符串</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">自动完成规则<span class="check-tips">（根据完成方式订阅相关规则）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="auto_rule" value="{$info.auto_rule}">
						</div>
					</div>
					<div class="form-group">
						<label class="item-label">自动完成时间<span class="check-tips"></span></label>
						<div class="controls">
							<select name="auto_time">
								<option value="3">始 终</option>
								<option value="1">新 增</option>
								<option value="2">编 辑</option>
							</select>
						</div>
					</div>
				</div>

				<!-- 按钮 -->
				<div class="form-group">
					<label class="item-label"></label>
					<div class="controls">
						<input type="hidden" name="id" value="{$info['id']}"/>
						<input type="hidden" name="model_id" value="{$info['model_id']}"/>
						<button class="btn btn-sm btn-primary ajax-post no-refresh" type="submit" target-form="form-horizontal">确 定</button>
						<button class="btn btn-sm" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
        </div>
        </form>
    </div>
</block>
<block name="js">
<script type="text/javascript" charset="utf-8">
Think.setValue('type', "{$info.type|default=''}");
Think.setValue('is_show', "{$info.is_show|default=1}");
Think.setValue('is_must', "{$info.is_must|default=0}");
Think.setValue('validate_time', "{$info.validate_time|default=3}");
Think.setValue('auto_time', "{$info.auto_time|default=3}");
Think.setValue('validate_type', "{$info.validate_type|default='regex'}");
Think.setValue('auto_type', "{$info.auto_type|default='function'}");
Think.setValue('validate_condition', "{$info.validate_condition|default='0'}");
$(function(){
	$('#data-type').change(function(){
		$('#data-field').val($(this).find('option:selected').attr('rule'));
	});
})
</script>
</block>

