<extend name="Common@Base/base"/>
<block name="title">
    网站设置
</block>
<block name="content">
		<div class="tab-wrap">
		<ul class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
		<volist name="Think.config.CONFIG_GROUP_LIST" id="group">
            <li <eq name="id" value="$key">class="active"</eq>>
                <a  href="{:U('?id='.$key)}">
                    <span class="bigger-110">{$group}配置</span>
                </a>
            </li>
		</volist>
		</ul>
		<div class="tab-content">
	<form action="{:U('save')}" method="post" class="form-horizontal normal-form">
	<volist name="list" id="config">
		<div class="form-group">
			<label class="item-label">{$config.title}:<span class="check-tips"><notempty name="config.remark">（{$config.remark}）</notempty></span> </label>
			<div class="controls">
			<switch name="config.type">
			<case value="0">
			<input type="text" class="text input-small" name="config[{$config.name}]" value="{$config.value}">
			</case>
			<case value="1">
			<input type="text" class="text input-large" name="config[{$config.name}]" value="{$config.value}">
			</case>
			<case value="2">
			<label class="textarea input-large">
				<textarea class="autosize-transition" name="config[{$config.name}]">{$config.value}</textarea>
			</label>
			</case>
			<case value="3">
			<label class="textarea input-large">
				<textarea name="config[{$config.name}]">{$config.value}</textarea>
			</label>
			</case>
			<case value="4">
			<select name="config[{$config.name}]">
				<volist name=":parse_config_attr($config['extra'])" id="vo">
					<option value="{$key}" <eq name="config.value" value="$key">selected</eq>>{$vo}</option>
				</volist>
			</select>
			</case>
			</switch>
				
			</div>
		</div>
		</volist>
		<div class="form-group">
			<label class="item-label"></label>
			<div class="controls">
				<empty name="list"><button type="submit" disabled class="btn btn-sm btn-primary disabled" target-form="form-horizontal">确 定</button><else/><button type="submit" class="btn btn-sm btn-primary ajax-post" target-form="form-horizontal">确 定</button></empty>
				<button class="btn btn-sm" onclick="javascript:history.back(-1);return false;">返 回</button>
			</div>
		</div>
	</form>
			</div>
	</div>
</block>