<extend name="Common@Base/base"/>
<block name="title">
    生成模型
</block>
<block name="content">
    <!-- 表单 -->
    <form id="form" action="{:U('generate')}" method="post" class="form-horizontal doc-modal-form">
        <div class="form-group">
            <label class="item-label">模型<span class="check-tips">当前数据库模型</span></label>
            <div class="controls">
                <select name="table">
                    <volist name="tables" id="tb">
                        <option value="{$tb.name}">{$tb.name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="item-label">模型标识<span class="check-tips">（模型英文标识）</span></label>
            <div class="controls">
                <input type="text" class="text " name="name" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="item-label">模型名称<span class="check-tips">（模型名称）</span></label>
            <div class="controls">
                <input type="text" class="text " name="title" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="item-label">模型组别<span class="check-tips">（模型组别）</span></label>
            <div class="controls">
                <select name="type">
                    <volist name="types" id="t">
                         <option value="{$key}">{$t}</option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="item-label"></label>
            <div class="controls">
                <input type="hidden" name="id" value="{$id}"/>
                <button class="btn btn-sm btn-primary ajax-post no-refresh" type="submit" target-form="form-horizontal">生 成</button>
                <button class="btn btn-sm" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>

